<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar con 2 botones</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-U1W1KUyKBz6i5roU1rY73GksqZMUz/iY7ztIOnxnR2WEaW5QzY64Q7zU3RL4iZ4" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" (click)="(irAcercaDe)">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="irAcercaDe()">Acerca de</a>
            </li>
        </ul>
    </nav>
    


<div class="card-container">
  <div class="card" style="width: 18rem;">
    <img src="https://th-thumbnailer.cdn-si-edu.com/RyPIlp1ZzFFyPBcvDamP41k8R88=/1072x720/filters:no_upscale():focal(2362x1597:2363x1598)/https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer_public/18/f4/18f4e941-b85b-45ae-b07c-52eaa6ca1f84/gettyimages-1237093074.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Dato ramdom del dia</h5>
      <p class="card-text">Existen agujeros negros tan pequeños como átomos..</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
      <br>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMyiBgyuBW_d8B0-7ZLgokSlM9n5XjwPrV1A&s" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">No se puedo</h5>
      <p class="card-text">no puede hacer el enrutamiento o enlazar las paginas a los botones que estan en un navbar 
      <p> aun asi no me vota error que me impida ejecutar.</p>
      <p class="card-text">Pero igual voy a seguir intendo cualquier cosa lo subo de nuevo XD.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
<br>
